body {
	padding: 10px;
}

.container {
  max-width: 600px;
}

#btn-start {
  margin-bottom: 10px;
}

table {
	margin: 0 auto;

    border: solid 1px grey;
	border-collapse: collapse;

	background: #8CBA9D;
}

td {
    width: 70px; height: 70px;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
	background: #A7C2B1;
}

.disc {
  display: block;

  border-radius: 50%;
  height: 40px;
  width: 40px;

  margin: auto;
}

.disc-empty {
  display: none !important;
}

.disc-white {
  background: white;
}

.disc-black {
  background: black;
}
