body {
  padding: 10px;
}

.container {
  max-width: 600px;
}

#btn-start {
  margin-bottom: 10px;
}

table {
  margin: 0 auto;

  border: solid 1px grey;
  border-collapse: collapse;

  background: #8CBA9D;
}

@media(max-width:767px)
{
  td {
    min-width: 40px;
    min-height: 40px;

    width: 40px;
    height: 40px;

    max-width: 40px;
    max-height: 40px;
  }
}

@media(min-width:768px)
{
  td {
    min-width: 70px;
    min-height: 70px;

    width: 70px;
    height: 70px;

    max-width: 70px;
    max-height: 70px;
  }
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
  background: #A7C2B1;
}

.disc {
  display: block;

  border-radius: 50%;
  height: 60%;
  width: 60%;

  margin: auto;
}

.disc-white {
  background: white;
}

.disc-black {
  background: black;
}

.disc, .disc-white, .disc-black {
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}

.score {
  display: inline-block;
  vertical-align: middle;

  border-radius: 50%;
  border: 1px solid #c1c1c1;

  width: 40px;
  height: 40px;

  padding: 7px 0;

  font-size: 16px;
}

.lead { font-size: 14px; }
