<!DOCTYPE html>
<html lang="en" ng-app="othello">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Experiment</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="js/angular.min.js"></script>
    <script src="js/othello.js"></script>
  </head>
  <body>
    <div class="container text-center" ng-controller="othelloController as othello">
      <button id="btn-start" class="btn btn-lg btn-primary" ng-click="othello.init()">Start</button>
      <table class="text-center">
        <tr ng-repeat="x in othello.t">
          <td ng-repeat="y in othello.t" ng-click="othello.clickEvent(x, y)">
            <figure id="{{ x }}-{{ y }}" class="disc"></figure>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
