<!DOCTYPE html>
<html lang="en" ng-app="othello">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Experiment</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="js/angular.min.js"></script>
    <script src="js/othello.js"></script>

  </head>
  <body>
    <div class="container">
      <table class="text-center" ng-init="t = [0,1,2,3,4,5,6,7]">
        <tr ng-repeat="x in t">
          <td ng-repeat="y in t">
            <button data-coord-x="{{ x }}" data-coord-y="{{ y }}">({{ x }},{{ y }})</button>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
