<!DOCTYPE html>
<html lang="en" ng-app="othello">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Experiment</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="js/angular.min.js"></script>
    <script src="js/othello.js"></script>
  </head>
  <body>
    <div class="container" ng-controller="othelloController as othelloc">
      <table class="text-center">
        <tr ng-repeat="x in othelloc.t">
          <td ng-repeat="y in othelloc.t">
            <button data-coord-x="{{ x }}" data-coord-y="{{ y }}" ng-click="othelloc.chgimg(x, y)">
              ({{ x }},{{ y }})
            </button>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
