<div ng-class="win">{{$ctrl.winc}}</div>
<div class="row">
  <div class="col-xs-4">
    <span class="lead">
      <div class="score disc-black" style="color: white;">{{$ctrl.black}}</div> Player
    </span>
  </div>
  <div class="col-xs-4">
    <btn-start is-playing="$ctrl.playing" ng-click="$ctrl.start()"></btn-start>
  </div>
  <div class="col-xs-4">
    <span class="lead">
      CPU <div class="score disc-white" style="color: black;">{{$ctrl.white}}</div>
    </span>
  </div>
</div>
<othello-board matrix="$ctrl.matrix" is-playing="$ctrl.playing" on-selection="$ctrl.select(x, y)"></othello-board>
